.directory
.brename_detail.txt

names.dmp
nodes.dmp
merged.dmp
delnodes.dmp
taxid.map
ranks.txt

not-used

*.tsv.gz
taxonomy/*/*.tsv
ictv-taxid-changelog.csv.gz
ictv-taxdump.tar.gz
ictv-taxdump-with-subpsecies.tar.gz
taxid.map.stats*
ictv.tsv
ictv.clean.tsv
ictv.taxonomy.tsv
ictv.taxonomy-with-subpsecies.tsv
*.xlsx
test/*
